* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://img.freepik.com/foto-gratis/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-52699.jpg?size=626&ext=jpg');
  background-size: cover;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

input {
  margin: 5px;
  font-size: 15px;
  padding: 5px;
  width: 350px;
}

/*Inicio LogIn - Register*/
#initialTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-family: 'Permanent Marker', cursive;
}

#divLogReg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#formLogReg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titleLogReg {
  margin: 15px;
}

#buttonLogReg {
  margin: 10px 0 15px 0;
  padding: 5px;
  background-color: rgba(71, 61, 139, 0.25);
  border: 1px solid rgba(71, 61, 139, 0.5);
  font-size: 18px;
}

#buttonChange {
  margin: 5px;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.4);
  border: 1px solid rgba(71, 61, 139, 0.5);
}

#resultLogReg {
  color: rgba(255, 0, 0, 0.6);
  margin: 5px;
}

#or {
  margin: 5px;
}

/*Inicio LogIn*/
#divHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#userEmpresa {
  margin-left: 50px;
  font-family: 'Permanent Marker', cursive;
}

#logOut {
  font-size: 15px;
  cursor: pointer;
}

#divCollection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0 30px 0;
}

.noSelect {
  padding: 10px;
  background-color: gray;
  border-radius: 20px;
  cursor: pointer;
  width: 350px;
  text-align: center;
}

.select {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.418);
  border-radius: 20px;
  cursor: pointer;
  width: 350px;
  text-align: center;
}

/*Tablas*/
table {
  border-collapse: separate;
  border-spacing: 5px;
}

td {
  text-align: center;
  padding: 8px;
}

th {
  font-size: 20px;
  width: 100px;
}

.addNew {
  margin: 5px;
  padding: 5px;
  font-size: 17px;
  background-color: rgba(128, 128, 128, 0.4);
  border: 1px solid rgba(71, 61, 139, 0.5);
}

#divAct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#divAddNew {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  margin: 30px;
}

.estado {
  border: none;
}

.inputEliminar {
  width: 100px;
}

.buttonDelete {
  padding: 5px;
  color: rgba(255, 0, 0, 0.8);
  background-color: rgba(71, 61, 139, 0.25);
  border: 1px solid rgba(139, 61, 61, 0.5);
  font-size: 16px;
}

#search {
  padding: 5px;
  width: 30px;
  background-color: rgba(71, 61, 139, 0.25);
  border: 1px solid rgba(139, 61, 61, 0.5);
  font-size: 15px;
}

/*Tabla Ot estado*/
.Completado {
  background-color: rgba(172, 255, 47, 0.5);
}

.Enproceso {
  background-color: rgba(210, 105, 30, 0.5);
}

.Parado {
  background-color: rgba(255, 0, 0, 0.5);
}

.Pendiente {
  background-color: rgba(0, 139, 139, 0.5);
}

/* forms newOne */
.formNew {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addNewTitle {
  margin: 15px;
}

.buttonAddNew {
  margin: 20px;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.4);
  border: 1px solid rgba(71, 61, 139, 0.5);
}

.selectAddNew {
  margin: 5px;
  font-size: 15px;
  padding: 5px;
  width: 350px;
}

#error {
  color: rgba(255, 0, 0, 0.6);
  margin: 5px;
}
